.grid {
    display: grid;
    grid-template-columns: 17% 66% 17%
}


@media all and (max-width: 1000px) {
    aside,
    article {
        grid-column: 1 / 4;
    }
}


aside,
article,
footer {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 3%;
}