/* Stylesheet by Greg Farnsworth, 2020 */
/*  Final commit 5/5/2020              */

html {
    cursor: url(../img/cursor_wh.ico), context-menu;
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
}


.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
 	position: absolute;
	width: 100%;
    height: 100%;
	top: 0;
	left: 0;
    background-image: url(../img/us_map.jpg); 	
	z-index: -10;
	opacity: 0.4;
}


.headtitle {
/*    display: block;*/
/*    text-align: center;*/
    font-family: 'Ruda';
    background-color: #eee;
    opacity: 0.9;
/*    z-index: -10;*/
}


#title {
    margin-top: 5px;
    padding: 5px;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
/*    justify-content: center;*/
}


.controls {
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: none; 
}


.selector {
    margin-top: 5px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: expanded;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #666;
    font-family: 'Patrick Hand SC';
    visibility: visible;
    opacity: 1;
}


.selector:hover {
    background-color: #3e8e41
}


.selector:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #333;
    transform: translateY(4px);
}


#nextQ{
    font-family: 'Annie Use Your Telescope';
    font-size: 0.75em;
}


.grid {
    display: grid;
    grid-template-columns: 17% 66% 17%
}


@media all and (max-width: 1000px) {
    aside,
    article {
        grid-column: 1 / 4;
    }
}


aside,
article,
footer {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 3%;
}


.sidebar-left {
    justify-self: left;
    width: 94%;
    padding-left: 3%;
}


.sidebar-right {
    justify-self: right;
    width: 94%;
    padding-right: 3%;
}


.rulebox {
    padding-bottom: 1em;
    font-family: 'Ruda';
    color: #222;
    background-color: #eee;
    border: solid thick #666;
    max-height: 580px;
    overflow-y: scroll;
}


.rulebox::-webkit-scrollbar {
    display: none;
}


.rulehead {
    margin: 0.5em;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
}


.rulegoo {
    font-family: 'Comfortaa';
    text-align: left;
}


#rul {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.75em;
}


li:hover {
    background-color: #DDD;
}


.scorebox {
    padding-bottom: 1em;
    font-family: 'Ruda';
    color: #222;
    background-color: #eee;
    border: solid thick #666;
    max-height: 580px;
    overflow-y: scroll;
}


.scorebox::-webkit-scrollbar {
    display: none;
}


.scorehead {
    padding: 0.5em;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
}


.scoregoo {
    font-family: 'Comfortaa';
    padding: 0.25em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border: solid normal #666;
}


.scorenbr {
    font-family: 'Ruda';
    padding: 0.25em;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border: solid normal #666;
}


#sco {
    font-size: 1.2em;
    padding: 0.25em;
}


.rule,
.score {
    visibility: hidden;
    opacity: 0;
}


.map {
    border: thick solid #666;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}


.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}


.gratBackground {
    fill: rgba(213, 227, 255, 0.9);
}


.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    opacity: 0.8;
}


.states {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}


.infolabel {
    font-family: 'Comfortaa';
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100px;
    color: #fff;
    background-color: #4CAF50;
    border: solid thick #666;
    border-radius: 10px;
    z-index: 100;
}


.infohead {
    margin: 10px;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}


.infogoo {
    margin: 0px 10px 10px 10px;
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}


.alert {
    display: none;
}


.resultsbox {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 5px;
    background-color: none;
    color: white;
    border: thick solid #999;
    font-family: 'Annie Use Your Telescope';
    font-size: 2em;
    visibility: hidden;  
    opacity: 0;
    overflow-y: scroll;
    top: 0;   
}


.resultsbox::-webkit-scrollbar {
    display: none;
}


.resultsbox h2 {
    margin: 0;
    padding-left: 15px;
    display: block;
    text-align: left;
}


.resultsgoo {
    visibility: inherit;
    opacity: inherit;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-family: 'Patrick Hand SC';
    font-size: 1em;
    text-decoration: none;
    height: 0.9em;
}


#res {
    position: relative;
    top: -20px;
    margin: 0;
    padding: 0;
}


#res2 {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-family: 'Patrick Hand';
    position: relative;
    top: -20px;
}


.instruct {
    position: absolute;
    left:auto;
    top: 10px;
    font-size: 0.75em;
}


.gameoverbox {
    cursor: pointer;
    position: absolute;
    top: 150px;
    height: auto;
    width: 100%;
    margin-top: 10px;
    background-color: none;
    color: white;
    border: thick solid #999;
    font-family: 'Annie Use Your Telescope';
    font-size: 2em;
    visibility: hidden;  
    opacity: 0;
}


.gameoverbox h2 {
    margin: 0px 0px 0px 30px;
    display: block;
    text-align: center;
}


.gameovergoo {
    visibility: inherit;
    opacity: inherit;
}


.gameovergoo h2 {
    margin: 0px 0px 0px 0px;
    display: block;
    text-align: center;
    font-family: 'Patrick Hand SC';
    font-size: 1em;
    text-decoration: none;
}


#gos {
    position: relative;
    margin-bottom: 10px;
}


#gos2 {
    font-size: 0.75em;
    font-family: 'Patrick Hand';
    position: relative;
    margin-bottom: 10px;
}


.guess {
    opacity: 0;
    pointer-events: none;
}

.switchlabel{
    position: relative;
    float: right;
    margin:0;
    padding:0;
    opacity: 0;
    z-index: 10;
}

#ugh {
    margin:0;
    padding:0;
}
.switch {
    position: absolute;
    display:block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3e8e41;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3e8e41;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}