/* Stylesheet by Greg Farnsworth, 2020 */
/*  Final commit 5/5/2020              */

html {
	cursor: url(../img/cursor_wh.ico), context-menu;
/*    overflow: hidden;*/
}

body {
    margin: 0;
}

.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
 	position: absolute;
	width: 100%;
    height: 100%;
	top: 0;
	left: 0;
    background-image: url(../img/us_map.jpg); 	
	z-index: -10;
	opacity: 0.4;
}

header {
    display: inline-block;
}

.headtitle {
    display: block;
    text-align: center;
    font-family: 'Ruda';
    background-color: #eee;
    opacity: 0.9;
    width: 100%;
    z-index: -1;
}

#title {
    margin-top: 10px;
    padding: 10px;
    font-size: 2.2em;
    font-weight: bold;
}

.controls {
  margin: 15px 0px 10px 0px;
    display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border: none; 
}

.selector {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: expanded;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #666;
  font-family: 'Patrick Hand SC';
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.selector:hover {
    background-color: #3e8e41
}

.selector:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.rulebox {
    margin-left: 10px;
    font-family: 'Ruda';
    color: #222;
    background-color: #eee;
    border: solid thick #666;
    z-index: 100;
    max-height: 575px;
    overflow-y: scroll;
}

.rulehead {
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
}

.rulegoo {
    font-family: 'Comfortaa';
    margin: 30px 10px 0px 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border: solid normal #666;
}

#rul {
    font-size: 1.2em;
}

.scorebox {
    margin-right: 10px;
    font-family: 'Ruda';
    color: #222;
    background-color: #eee;
    border: solid thick #666;
    z-index: 100;
    max-height: 575px;
}

.scorehead {
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
}

.scoregoo {
    font-family: 'Comfortaa';
    margin: 30px 10px 0px 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border: solid normal #666;
}

.scorenbr {
    font-family: 'Ruda';
    margin: 10px 5px 0px 5px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border: solid normal #666;
}

#sco {
    font-size: 1.2em;
}

.rule,
.score {
    visibility: hidden;
    opacity: 0;
}

.map {
    border: thick solid #666;
    margin: 10px 0 0 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}


.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.gratBackground {
    fill: rgba(213, 227, 255, 0.9);
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    opacity: 0.8;
}

.states {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}


.infolabel {
    font-family: 'Comfortaa';
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100px;
    color: #fff;
    background-color: #4CAF50;
    border: solid thick #666;
    border-radius: 10px;
    z-index: 100;
}

.infohead {
    margin: 10px;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}

.infogoo {
    margin: 0px 10px 10px 10px;
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#inf {
    font: italic 90% Verdana, sans-serif;
}

.alert {
    display: none;
}

.resultsbox {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 10px;
    background-color: none;
    color: white;
    border: thick solid #999;
    font-family: 'Annie Use Your Telescope';
    font-size: 2em;
    visibility: hidden;  
    opacity: 0;
}

.resultsbox h2 {
    margin: 0px 0px 0px 30px;
    display: block;
    text-align: left;
}

.resultsgoo {
    visibility: inherit;
    opacity: inherit;
}

.resultsgoo h2 {
    margin: 0px 0px 0px 0px;
    display: block;
    text-align: center;
    font-family: 'Patrick Hand SC';
    font-size: 1em;
    text-decoration: none;
}

#res {
    position: relative;
    top: -20px;
    margin-bottom: 10px;
}

#res2 {
    font-size: 0.75em;
    font-family: 'Patrick Hand';
    position: relative;
    top: -15px;
}

.gameoverbox {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 10px;
    background-color: none;
    color: white;
    border: thick solid #999;
    font-family: 'Annie Use Your Telescope';
    font-size: 2em;
    visibility: hidden;  
    opacity: 0;
}

.gameoverbox h2 {
    margin: 0px 0px 0px 30px;
    display: block;
    text-align: center;
}

.gameovergoo {
    visibility: inherit;
    opacity: inherit;
}

.gameovergoo h2 {
    margin: 0px 0px 0px 0px;
    display: block;
    text-align: center;
    font-family: 'Patrick Hand SC';
    font-size: 1em;
    text-decoration: none;
}

#gos {
    position: relative;
    margin-bottom: 10px;
}

#gos2 {
    font-size: 0.75em;
    font-family: 'Patrick Hand';
    position: relative;
    margin-bottom: 10px;
}

.guess {
    opacity: 0;
    pointer-events: none;
}
